.conta{

  background-image: url(https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?cs=srgb&dl=pexels-pixabay-53594.jpg&fm=jpg); 

            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
}
.main{
  background-color: white;
            width: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
           
           
}
img{
  width: 200px;
  height: 100px;
}



input[type="text"]{
  
  border-radius: 3px;
  padding: 5px;
}
button{
  color:white;
  border-radius: 3px;
  padding: 5px;
  background-color:black;
  
}
button:hover{
  background-color:rgb(196, 166, 166);
}